[submodule "cpp/vendor/s2geometry"]
	path = cpp/vendor/s2geometry
	url = https://github.com/google/s2geometry.git
[submodule "cpp/vendor/abseil-cpp"]
	path = cpp/vendor/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "cpp/vendor/googletest"]
	path = cpp/vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "cpp/vendor/CRoaring"]
	path = cpp/vendor/CRoaring
	url = https://github.com/RoaringBitmap/CRoaring.git
[submodule "cpp/vendor/SuRF"]
	path = cpp/vendor/SuRF
	url = https://github.com/GavinClarke0/SuRF.git
